body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin: 0px;
    max-width: 100%;
    overflow-x:hidden;
}
p {
    margin: 2rem;
    text-align: center;
    padding: 0px;
    font-size: 20px;
}
nav {
    position: sticky;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #aeaeae;
}
h3 {
    font-weight: bold;
}
h2, h3{
    text-align: center;
}
 ul, ol {
    padding: 0px;
    margin: 0px;
}
img {
    width: 100%;
    height: auto;
}
a {
    color: #300000;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: #cd3636;
}
button{
    border: none;
    cursor: pointer;
}
/* nav */
.nav {
    padding: 0px;
    display: grid;
}
.nav a {
color: black;

}
.nav a:hover{
color: black;
}
.nav-content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.nav-content h2 {
    text-align: left;
}
.nav-links {
    text-align: right;

    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav-links button{
    font-weight: bold;
    padding: 15px 2rem;
    margin-left: 1rem;
    background-color: #1100ff;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    transition: 0.5s;

    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav-links button:hover{
    background-color: #000e52;
    color: rgb(255, 255, 255);
}
.nav-break{
    display: none;
}

@media screen and (max-width: 500px) {
    .nav-break {
        display: initial;
    }
}
/* MISC */
.border-light {
    border: 1px solid #aeaeae;
}

.container {
    height: 100%;
    width: 100%;
    align-items: center;
    margin-inline: auto;
    margin: 1rem 2rem;
    grid-template-columns: repeat(1, 1fr);


    margin-bottom: 4%;
    margin-right: 4%;
}
/* header */
.header {
    margin-bottom: 4%;
    margin-right: 4%;
    padding: 20px;

    text-align: center;
}

.header-image{
    max-width: 400px;
}
.header-container {
    display: block;
    left: 50%;
    top: 50%;
}
@media screen and (max-width: 800px) {
    .container {
        margin-left: 6px;
    }
}
/* items */


.item-button{
    padding: 15px;
    font-weight: bold;
    color: black;
    width: 100%;
    background-color: rgb(230, 207, 0);

    transition: 0.5s;
}
.item-button:hover{
    color: white;
    background-color: rgb(146, 131, 0);
}

.item-content {
    padding: 20px;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}
.item-content img {
    text-align: center;
    margin: 10px 0rem;
}
.item-content h3 {
    text-align: left;
}
.item {
    margin-bottom: 4%;
    margin-right: 4%;
}
.item-image{
    max-width: 400px;
}
@media screen and (max-width: 800px) {
    .item-content{
        grid-template-columns: 1fr;
    }
    .item-content img {
        margin-left: auto;
        margin-right: auto;
    }
}

/* list */
.list-headers {
    font-size: 21px;
}
.list-container {
    margin: auto 10rem;
    padding: 20px;
}
.list-container ol {
    margin: 2rem 1rem;
}
.list-container p {
    margin: 2rem 0.5rem;
    text-align: left;
    font-size: 15px
}
@media screen and (max-width: 1025px){
    .list-container {
        margin: auto 4rem;
    }
}
@media screen and (max-width: 705px){
    .list-container {
        margin: auto 2rem;
    }
}
@media screen and (max-width: 430px) {
    .list-container {
        margin: auto 1rem;
    }
}

/* article */
.article img {
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-image {
    max-width: 800px;
}
/* Q & A */

/* Join */